<div class="board_index">
<div class="top-content">
  <div class="top-left">
  ボード一覧
  </div>
  <div class="top-right">
    <a href= "<%= new_board_path %>">
    新規作成
    </a>
  </div>
</div>
<div class="main-content">

<% @boards.each do |b| %>
  <div class="main">
    <div class="board_image">
    </div>
    <div class="board_name">
      <%= link_to board_path(b.id) do%>
        <%= b.title %>
      <% end %>
    </div>
  </div>
<% end %>
</div>
</div>