<div class="title_form">
スレを立ち上げるためのタイトルを入力
</div>
<%= form_with(model: Board.new,local:true) do |f| %>
  <%= f.text_field :title,placeholder: "タイトルを入力",required: true%>
  <div>カテゴリー</div>
  <%= f.collection_check_boxes :category_ids,@categories,:id,:name%>
  <%= f.submit "投稿する",id: "submit"%>
<% end %>