body {
  height:100%;
  width:100%;
  background-color: #f9f9f9;
}
a{
  text-decoration: none;
}
  header {
  height:40px;
  display: flex;
  background-color: white;
}
.root {
  width:60%;
  justify-content: flex-start;
  font-size: 25px;
}
.root a{
  color:gray;
}
.search{
  margin-right:100px;
}
.form_w{
box-sizing: border-box;
}
#board_text{
  background:#ccddf5;
  border:none;
  height:25px;
  border-radius: 1rem;
}
#submit{
  background: #3879D9;
  color: #fff;
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  border-radius: 1rem;

}
.devise{
  font-size: 25px;;
}
.devise a{
  color:gray;
}
/*index*/

.board_index{
  margin-left:5%;
  width:70%;
}
.top-content{
  height:50px;
  background-color: aliceblue;
  display: flex;
}
.top-left{
  margin-left:2%;
  line-height: 50px;
}
.top-right{
  margin-left:40%;
  line-height: 50px;
}
.main-content{
  margin-top:10px;
  background-color: white;
}
.board_image{
  width:10%;
}
.board_name{
  line-height: 90px;
}
.main {
  display: flex;
  width: 100%;
  height:100px;
  background-color: #efefef;
  margin-bottom: 9px;
}

/*show*/
.message {
  border-style: none solid solid none;
  border-color: #ddd;
  background-color: #efefef;
  margin-bottom: 9px;
  padding: 9px;
}
.title{
  color:#3f9ade;
}
.category{
  display: flex;
}
.box {
  font-size:15px;
  color: #3f9ade;
  border-radius: 3px;
  margin-left: 4px;
}
