body {
  background-color: #f9f9f9;
}

/*index*/

.board_index{
  margin-top:10px;
}
.board_image{
  width:10%;
}
.main {
  display: flex;
  width: 50%;
  height:100px;
  background-color: #efefef;
  margin-bottom: 9px;
}

